*{
	margin:0px;
	padding:0px;
}
.profileContent{
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
}
.profileContent .mainTitle{
	border-bottom:1px solid #ddd;
	font:bold 18px helvetica;
	border-radius:5px 5px 0 0;
	background:#f9f9f9;
	color:#666;
	height:45px;
	padding-left:20px;
	cursor:default;
}
.profileContent .mainTitle span{
	line-height:45px;
}
.profileContent .allFriends{
	background:#fff;
	margin:10px;
	min-height:140px;
	border:1px solid #fff;
}
.profileContent .allFriends a img{
	width:155px;
	height:165px;
	margin:0px;
	margin-right:5px;
	border:1px solid #e6e6e6;
}
.profileContent .allFriends .noActivity{
	margin:60px auto;
	text-align:center;
	font:bold 18px helvetica;
	color:#888;
}
.profileContent .allFriends>div{
	margin:10px auto;
	width:800px;
}
.allFriends .eachFriendBox li{
	/width:95%;
	margin:0 auto;
	min-height:82px;
	padding:10px 0;
	/display:inline-block;
	border-bottom:1px solid #ddd;
}
.eachFriendBox li .profilePic{
	background:#0f0;
	float:left;
	background:#fff;
	width:80px;
	height:80px;
}
.eachFriendBox li .profilePic img{
	width:80px;
	height:80px;
	border:1px solid #eee;
}
.eachFriendBox li .personDetail{
	float:left;
	margin-left:10px;
	width:450px;
	height:80px;
}
.eachFriendBox li .personDetail .personName{
	float:left;
	font:bold 15px Helvetica;
	height:20px;
	overflow:hidden;
	color:#56f;
}
.eachFriendBox li .personName:hover{
	text-decoration:underline;
}
.eachFriendBox li .personDetail .personDesc{
	font-weight:normal;
	color:#333;
	font:normal 12px Helvetica;
	color:#9197a3;
	overflow:hidden;
	line-height:17px;
	height:60px;
	cursor:default;
}
.eachFriendBox li .personDetail .personDesc>div{
	margin-bottom:-20px;
	height:20px;
	overflow:hidden;
}
.eachFriendBox li .personStatus{
	float:right;
	margin-top:5px;
	margin-right:4px;
	height:30px;
}
.eachFriendBox li .personStatus button{
	border-radius:3px;
	border: 1px solid #ccc;
	font:bold 12px Helvetica;
	color:#555;
	background-color:#e6e6e6;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e6e6e6));
	background-image:-webkit-linear-gradient(#fff,#e6e6e6);
	background-image:-moz-linear-gradient(#fff,#e6e6e6);
	background-image:-ms-linear-gradient(top,#fff,#e6e6e6);
	background-image:-o-linear-gradient(top,#fff,#e6e6e6);
	padding:5px 10px;
	cursor: pointer;
	-webkit-box-shadow:0 1px 1px #d4d4d4;
	-moz-box-shadow:0 1px 1px #d4d4d4;
	box-shadow:0 1px 1px #d4d4d4;
}
.eachFriendBox li .personStatus button:active{
	background-color:#e6e6e6;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e6e6e6),color-stop(100%,#fff));
	background-image:-webkit-linear-gradient(#e6e6e6,#fff);
	background-image:-moz-linear-gradient(#e6e6e6,#fff);
	background-image:-ms-linear-gradient(top,#e6e6e6,#fff);
	background-image:-o-linear-gradient(top,#e6e6e6,#fff);
}